S3_DATAPROC_BUCKET=
S3_PUBLIC_BUCKET=
S3_TEXTRACT_BUCKET=

DEV_API_URL=
PROD_API_URL=
FRONTEND_URL=
FRONTEND_TOKEN=

DAGSTER_DB_URL=
DISCORD_WEBHOOK_URL=
DAGIT_BASE_URL=

AWS_REGION="ap-southeast-5"
AWS_SECRETS_NAME=