[Unit]
Description=Dagster Webserver
After=network.target

[Service]
Type=simple
User=ec2-user
Environment=DAGSTER_HOME=/opt/dagster/dagster_home
Environment=PATH=/opt/dagster/venv/bin:$PATH
Environment=VIRTUAL_ENV=/opt/dagster/venv
ExecStart=/opt/dagster/venv/bin/dagster-webserver -h 0.0.0.0 -p 3000
Restart=always
RestartSec=10
StartLimitInterval=0

[Install]
WantedBy=multi-user.target